.body{
    background-color:  hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
.card-text{
    font-size: 15px;
}
.card-title{
    font-weight: 700; 
}

.attribution{
    margin-top: 100px;
    
}


.container {
    max-width: 1440px;
  }
  
 
  @media (max-width: 375px) {
    .container {
      max-width: 375px;
    }
  }

  